/* removing default text formatting */

*{ margin: 0px; padding: 0px;}

body{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #0099FF;
}

.container{
	width: 960px;
	height: auto;
	margin: 0 auto;
}

/*Styling for the #header body*/

#header{
	position: fixed;
	
	border: 2px solid yellow;
	
	height: 100px;
	width: 100%;
	min-width: 500px;
	background-image: url(resources/images/header-bg.png);
}

/*Styling for the #logoArea body*/

#logoArea img{
	float: left;
	margin: 8px;
	border: 2px solid #101010 ;
	border-radius: 10px;
	background-color: white;
}

#logoText{
	float: left;
	margin: 40px 5px 0px 5px;
	line-height: 60px;
	color: #F8F8F8;
	font-size: 55px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/*Styling for #navArea body*/

#navArea{
	border: 1px solid yellow;
	
	float: right;
}

#nav{
	list-style: none;
}

#nav li{
	float: left;
	margin-left: 30px;
	
	background-color: #3366CC;
	border: 1px solid #101010 ;
	border-radius: 5px;
}

#nav li:hover{
	background-color: #3399CC;
}

#nav li > a{
	color: white;
	margin: 10px;
	text-decoration: none;
}

/*Styling for the #main body*/

#main{	
	border: 2px solid yellow;
	
	height: auto;
	width: auto;
	margin: 0 auto;
}

#main .container{
	border: 1px solid #101010 ;
	background-color: white;
}